.phpunit.*
.php-cs-fixer.cache
/docs
vendor/
config/doctrine.local.php
data/*
!data/.gitkeep
public/uploads/*
public/uploads/tmp/*
public/uploads/exit-interview-upload-dir/*
!public/uploads/.gitkeep
!public/uploads/tmp
!public/uploads/tmp/.gitkeep
!public/uploads/exit-interview-upload-dir/.gitkeep
*.code-workspace
public/test.php
.vscode/
composer.lock
dev/data/DoctrineORMModule/*
!dev/data/DoctrineORMModule/.gitkeep