<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./dev/test/bootstrap.php">
    <testsuites>
        <testsuite name="Integration">
            <directory>./dev/test/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./dev/test/Unit</directory>
        </testsuite>
    </testsuites>

</phpunit>